*.pyc
RealTime/__pycache__/SerialHandler.cpython-36.pyc
*.env
rotate.py
*.csv
gaugelib.py
test_gauge.py
GUI/Launcher/logic.py
GUI/Launcher/widgets.py
GUI/RealTime/writetodisk.py
*.csv
secondProc.py
*.xml
.vscode/settings.json
settings.xml
